<div class="card ml-5">
  <div class="card-body">
    <%= reply.user.user_name %>
    <%= reply.content %>
    <p><%= reply.likes.count %> <%= (reply.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% pre_like = reply.likes.find { |reply| reply.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', comment_like_path(reply, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', comment_likes_path(reply), method: :post %>
    <% end %>
    <%= link_to 'delete', [reply.post, reply], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mr-2' %>
  </div>
</div>
