<div style="margin-left: 16px;">
	<div class="reply-index-card" style="border-left: 1px solid #589ecc; border-bottom: 1px solid #589ecc;">
		<div class="white-circle" style="right: 5px; top: -4px;"></div>
		<div style="width: 264px; margin: 8px;">
			<%= simple_form_for( [@post, @comment]) do |f| %>
				<%= f.hidden_field :parent_id %>
				<div class="form-group">
					<h6 class="form-label" style="margin-bottom: 4px;">REPLY</h6>
					<%= f.text_area :content, class: 'form-control', id: 'reply-input' %>
				</div>

				<div style="width: 264px; display: flex; justify-content: space-between;">
					<div>
						<%= link_to post_path(@post) do %>
							<%= render 'svgs/buttons/cancel_btn' %>
						<% end %>
					</div>

					<label style="position: absolute; top: 522px; right: 37px; height: 45px; width: 45px;">
						<span style="display: none;">
							<%= f.submit %>
						</span>
					</label>
					<div>
						<%= render 'svgs/buttons/confirm_btn' %>
					</div>
				</div>

			<% end %>
		</div>
	</div>
</div>
