<%# ------------------------REPLY CONTENT & LIKES------------------------ %>
<div style="margin-left: 16px;">
	<div class="reply-index-card">
		<div class="white-circle" style="right: 5px; top: -4px;"></div>
		<div class="reply-card-content">
			<span class="comment-username">
				<%= link_to reply.user.user_name, user_path(reply.user.user_name) %>
			</span>
			<span style="margin-left: 4px; color: #d987ba;">
				<% if reply.likes.count >= 1 %>
					<%= reply.likes.count %>♥
				<% end %>
			</span>
			<span style="margin-left: 8px;">
				<%= reply.content %>
			</span>

			<div class="form-label" style="font-size: 8px;">
				<%= reply.created_at.to_time.strftime('%a %b %e %Y, %H:%M').upcase %>
			</div>

			<%# ------------------------REPLY BUTTONS------------------------ %>
			<div class="reply-buttons">
				<% pre_like = reply.likes.find { |reply| reply.user_id == current_user.id} %>
				<% if pre_like %>
					<%= link_to comment_like_path(reply, pre_like), method: :delete do %>
						<div>
							<%= render 'svgs/buttons/unlike' %>
						</div>
					<% end %>
				<% else %>
					<%= link_to comment_likes_path(reply), method: :post do %>
						<div>
							<%= render 'svgs/buttons/like' %>
						</div>
					<% end %>
				<% end %>

				<%= link_to [reply.post, reply], method: :delete, data: { confirm: 'Are you sure?' } do %>
					<div>
						<%= render 'svgs/buttons/delete' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
