<div class="post-card-container">
	<div class="post-card">
		<div style="position: absolute; top: -15px; right: 88px;">
			<%= render 'svgs/accents/post_accent_t' %>
		</div>
		<div style="position: absolute; top: 657px; right: 28px;">
			<%= render 'svgs/accents/post_accent_b' %>
		</div>
		<div class="comments-index-container">
			<%= render @post.comments %>
		</div>
		<div class="comments-input-container">
			<%= simple_form_for( [@post, @post.comments.build]) do |f| %>
				<div>
					<%= f.text_area :content, placeholder: 'Comment...' %>
				</div>
				<%= f.submit value: "", class: 'post-input-btn', data: { disable_with: false }  %>
			<% end %>
		</div>
	</div>
</div>
