<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade" id="pills-accounts" role="tabpanel" aria-labelledby="pills-home-tab" style="margin-top: 41px;">
		<% if @users && @users.count != 0 %>
			<div class="search-user-line" style="top: 159px; left: 57px;"></div>
			<div class="white-circle" style="position: absolute; top: 139px; right: 310px;"></div>
			<div class="white-circle" style="position: absolute; top: 173px; right: 246px;"></div>
			<% @users.each do |user| %>
				<%= link_to user_path(user.user_name) do %>
					<div style="display: flex; align-items: center;">

						<div style="position: relative; right: -8px;">
							<div><%= render 'svgs/frames/user_t' %></div>
							<div><%= render 'svgs/frames/user_b' %></div>
						</div>

						<div>
							<% if user.image.attached? %>
								<%= cl_image_tag user.image.key, width: 45, height: 45, style: "border: 1px #00FEFC solid;border-radius: 50%; position: relative; right: 13px;" %>
							<% else %>
								<div style="width: 45px; height: 45px; border: 1px #00FEFC solid; border-radius: 50%; background: rgba(0, 254, 252, 0.3);"></div>
							<% end %>
						</div>

						<div style="position: relative; right: 36px; z-index: -1; border-left: 1px solid #00FEFC; padding-left: 32px; padding-top: 15px; height: 72px;">
							<div style="color: white; height: 20px; font-family: 'Exo';"><%= user.user_name %></div>
							<div style="font-size: 9px;"><%= truncate(user.bio, length: 45) %></div>
							<div class="dotted-line" style="border: 1px dashed rgba(1, 165, 218, 0.4); margin-top: 8px;"></div>
						</div>

					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
