<h6 style="position: absolute; top: 4px; right: 162px; width: 52px; text-align: center;"><%= rand(1..2000) %></h6>
<h6 style="position: absolute; top: 20px; right: 178px; font-size: 8px;">Rank</h6>
<div class="avatar-80" style="position: absolute; top: 98px; right: 148px;">

	<%= avatar(@user) %>

	<% if false %>
		<% if @user.image.attached? %>
			<%= cl_image_tag @user.image.key, width: 80, height: 80, style: "border-radius:50%;"%>
		<% end %>
	<% end %>

</div>

<div data-toggle="modal" data-target="#userFollowing">
	<p class="user-stat-details" style="position: absolute; top: 45px; right: 23px;">FOLLOWING</p>
	<p class="user-stat-numbers" style="position: absolute; top: 46px; right: 90px;"><%= @user.followings.count %></p>
</div>

<p class="user-stat-details" style="position: absolute; top: 89px; right: 278px;">POSTS</p>
<p class="user-stat-numbers" style="position: absolute; top: 77px; right: 320px;"><%= @user.posts.count %></p>

<div data-toggle="modal" data-target="#userFollowers">
	<p class="user-stat-details" style="position: absolute; top: 89px; right: 59px;">FOLLOWERS</p>
	<p class="user-stat-numbers" style="position: absolute; top: 75px; right: 30px;"><%= @user.followers.count %></p>
</div>

<p class="user-stat-details" style="position: absolute; top: 171px; right: 289px;">BIO</p>
<p class="user-bio" style="position: absolute; top: 186px; right: 63px; width: 247px; height: 33px;"><%= truncate(@user.bio, length: 50) %></p>
<p class="user-stat-details" style="position: absolute; top: 171px; right: 86px;">AGE</p>
<% if @user.birthday? %>
	<p class="user-stat-numbers" style="position: absolute; top: 178px; right: 22px; width: 40px;"><%= ((Time.zone.now - @user.birthday.to_time) / 1.year.seconds).floor %></p>
<% end %>
