<h1><%= @user.user_name %></h1>
<% if @user.image.attached? %>
  <%= cl_image_tag @user.image.key, width: 70%>
<% end %>
<h2><%= @user.name %></h1>
<p id="notice"><%= notice %></p>
<p>Posts: <%= @user.posts.count %></p>
<p>Followers: <%= @user.followers.count %></p>
<p>Following: <%= @user.followings.count %></p>
<% pre_follow = @user.connections_as_following.find { |connection| connection.follower_id == current_user.id} %>
<% if pre_follow %>
  <%= button_to 'Unfollow', user_connection_path(@user.id, pre_follow), method: :delete %>
<% else %>
  <%= button_to 'Follow', user_connections_path(@user.id), method: :post %>
<% end %>
<h1>Posts</h1>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
<hr>
<%= render @user_posts %>
