<%# ------------------------------SEARCH------------------------------ %>
<div class="search-container">
	<div class="search-content">
		<div style="height: 137px;">
			<div style="position: absolute;">
				<%= render 'svgs/frames/search' %>
			</div>
			<div style="position: absolute; top: -3px; right: 0px;">
				<%= render 'svgs/circles/search_circle' %>
			</div>
			<%# ------------------------------INPUT------------------------------ %>
			<div style="position: absolute; top: 33px; right: 337px; z-index: 1;">
				<%= render 'svgs/accents/magnifying' %>
			</div>
			<div style="position: absolute; top: 33px; right: 113px;">
				<%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
					<%= form.text_field :query, value: params[:query], class: 'form-control', placeholder: 'Search...', style: 'padding: 0.375rem 1.75rem; font-size: 12px; color: white;' %>
				<% end %>
			</div>
			<%# ------------------------------POSTS COUNTER CIRCLE------------------------------ %>
			<div style="width: 48px; position: absolute; top: 32px; right: 25px;">
				<div class="form-label" style="text-align: center;"><%= Post.all.count %></div>
				<div class="form-label" style="text-align: center; font-size: 4px;">TOTAL</div>
				<div class="form-label" style="text-align: center; font-size: 4px;">PHOTOS</div>
			</div>
			<%# ------------------------------TAGS SECTION------------------------------ %>
			<div class="white-circle" style="position: absolute; top: 98px; right: 363px;"></div>
			<div style="position: absolute; top: 89px; right: 311px;">
				<span class="form-label">#</span><span class="form-label"> TAGS:</span>
			</div>

			<div class="explore-tags-container">
				<div style="display: flex;">
					<div style="margin-right: 4px;">
						<%= render 'svgs/buttons/angled_tag' %>
					</div>
				</div>
			</div>

		</div>
		<%# ------------------------------GRID OF POSTS------------------------------ %>
		<%= render 'posts/grid', posts: Post.all %>

		<%# ------------------------------REMOVE THIS LATER!!------------------------------ %>
		<% @users = User.all %>
		<% @users.each do |user| %>
			<p><%= link_to user.name, user_path(user.user_name) %></p>
		<% end %>
	</div>
</div>
