<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>TEST</p>

<div>
	<%= render 'svgs/circles/purple_yellow_circle' %>
</div>

<div>
	<%= render 'svgs/frames/post_corner_t' %>
</div>

<div>
	<%= render 'svgs/frames/post_corner_b' %>
</div>

<div>
	<%= render 'svgs/frames/energycell' %>
</div>

<div>
	<%= render 'svgs/accents/post_accent_t' %>
</div>

<div>
	<%= render 'svgs/accents/post_accent_b' %>
</div>

<div class="white-circle"></div>
<div class="bookmark-icon"></div>
