<%= form_with(model: post, local: true) do |form| %>
	<% if post.errors.any? %>
		<div id="error_explanation">
			<h4 class="text-danger"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>
			<ul class="list-group">
				<% post.errors.full_messages.each do |message| %>
					<li class="list-group-item list-group-item-danger"><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<h6 class="form-label">PHOTOS</h6>
		<label style="width: 96px; height: 26px;">
			<span style="display: none;">
				<%= form.file_field :images, multiple: true %>
			</span>
		</label>
	</div>
	<div class="form-group">
		<h6 class="form-label">DESCRIPTION</h6>
		<%= form.text_area :description, class: 'form-control' %>
	</div>
	<%# <label class="btn btn-success" style="position: absolute; top: 284px; right: -182px;"> %>
	<label style="position: absolute; top: 284px; right: -182px; width: 44px; height: 44px;">
		<span style="display: none;">
			<%= form.submit "Save Post" %>
		</span>
	</label>
<% end %>
