<%# ------------------------------TOP ACCENTS------------------------------ %>
<div class="post-card-container">
	<div class="post-card">
		<div style="position: relative; width: 40px; top: -15px; right: -94px;">
			<%= render 'svgs/accents/post_accent_t' %>
		</div>
		<div style="position:absolute; z-index: -1;">
			<%= render 'svgs/frames/post_corner_t' %>
		</div>
		<%# ------------------------------USER DETAILS PART------------------------------ %>
		<div style="position: absolute; top: 25px; right: 88px; z-index: -1;">
			<%= render 'svgs/frames/post_stats_line' %>
		</div>

		<% @post = post %>
		<%= render 'posts/post_header', post: @post %>

		<%# ------------------------------IMAGE PART------------------------------ %>
		<% @post = post %>
		<%= render 'posts/carousel', post: @post %>
		<%# ------------------------------LIKES COUNTER------------------------------ %>
		<div class="post-actions">
			<div class="post-energycell">
				<%= render 'svgs/frames/energycell' %>
			</div>
			<div class="likes-counter-container">
				<div class="likes-counter">
					<p><%= post.likes.count %></p>
				</div>
				<div>
					<p style="position:relative; top: -17px; left: -68px; font-size: 8px; text-align: center"><%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
				</div>
			</div>
			<%# ------------------------------ACTION BUTTONS------------------------------ %>
			<%= render 'posts/buttons' %>
		</div>
		<%# ------------------------COMMENTS COUNTER & DESCRIPTION PART------------------------ %>
		<%= render 'posts/middle', post: @post %>
		<%# ------------------------COMMENTS & INPUT------------------------ %>
		<%= render 'posts/comment_input', post: @post %>
		<%# ------------------------BOTTOM ACCENTS------------------------ %>
		<div style="position:absolute; z-index: -1; top: 574px; right: 16px; width: 72px;">
			<%= render 'svgs/frames/post_corner_b' %>
		</div>
		<div style="position: absolute; top: 657px;">
			<%= render 'svgs/accents/post_accent_b' %>
		</div>
		<div class="form-label" style="position: absolute; top: 637px; left: 20px; font-size: 8px; text-transform: uppercase;">
			<%= ago(post.created_at) %>
		</div>
	</div>
</div>
