<%# ------------------------------NEW POST FORM------------------------------ %>
<div class="form-container" style="margin: 10vh auto;">
	<div class="form-box" style="height: 494px;"></div>
	<div style="position: absolute; top: -16px;">
		<%= render 'svgs/accents/form_accent_t' %>
	</div>
	<div class="form-header-post" style="position: absolute; top: 32px; right: 145px; width: 161px;">
		<div>
			<%= render 'svgs/circles/purple_yellow_circle' %>
		</div>
		<div class="white-circle"></div>
		<h6 class="form-label">NEW POST</h6>
	</div>

	<div>
		<div class="form-render">
			<%= render 'form', post: @post %>
		</div>
	</div>
	<%# ------------------------------BUTTONS------------------------------ %>
	<div>
		<div style="position: absolute; top: 130px; right: 210px; z-index: -2;">
			<%= render 'svgs/buttons/long_btn' %>
		</div>
		<h6 class="form-label" style="position: absolute; top: 136px; right: 231px; z-index: -1;"> BROWSE</h6>
		<div style="position: absolute; top: 411px; right: 74px;">
			<%= render 'svgs/accents/button_dashed_line' %>
		</div>
		<div style="position: absolute; top: 401px; right: 27px; z-index: -1;">
			<%= render 'svgs/buttons/confirm_btn' %>
		</div>
		<div style="position: absolute; top: 401px; right: 257px;">
			<%= link_to user_path(current_user.user_name) do %>
				<%= render 'svgs/buttons/cancel_btn' %>
			<% end %>
		</div>
	</div>

</div>
