<p><%= @post.description %></p>
<p><%= link_to @post.user.user_name, user_path(@post.user) %></p>
<p><%= @post.likes %> likes</p>
<div class="card my-1"> # place this card blow the post body.
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= form_with(model: [@post, @post.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New comment' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<% if false %>
  <%= render @post.comments %>
  <% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
      <% if comment.content? %>
        <p><%= comment.content %></p>
        <p><%= link_to comment.user.user_name, user_path(comment.user) %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
