<div class="card my-5">
  <div class="card-body">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center"><%= @post.description %></h1>
    <hr >
    <div class="my-4">
      <%= simple_format(@post.description) %>
    </div>
    <%= link_to 'Back', posts_path, class: 'btn btn-light' %>
  </div>
</div>
<div class="card my-1"> # place this card blow the post body.
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= simple_form_for( [@post, @post.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New comment' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render @post.comments %>
