<div class="card my-5">
  <div class="card-body">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center"><%= @post.description %></h1>
    <% @post.images.each do |image| %>
      <%= cl_image_tag image.key, width: 100%>
    <% end %>
    <hr >
    <div class="my-4">
      <%= simple_format(@post.description) %>
      <%= link_to @post.user.user_name, user_path(@post.user.user_name) %>
      <%= link_to user_path(@post.user.user_name) do %>
        <%= cl_image_tag @post.user.photo.key, width: 70 %>
      <% end %>
    </div>
    <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
    <% end %>
    <%= link_to 'Back', user_path(@post.user), class: 'btn btn-light' %>
  </div>
</div>
<div class="card my-1"> # place this card blow the post body.
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= simple_form_for( [@post, @post.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New comment' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render @post.comments %>
<%= render 'posts/more' ,posts: @post.user.posts %>
